<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BongoMarine Controller</title>
        <link
            href="{{ url_for('static', filename='css/style.css') }}"
            rel="stylesheet"
        />
        <script src="https://cdn.socket.io/4.8.0/socket.io.min.js" integrity="sha384-OoIbkvzsFFQAG88r+IqMAjyOtYDPGO0cqK5HF5Uosdy/zUEGySeAzytENMDynREd" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    </head>
    <body>
        <div class="connect-arduino">
            <div class="connection-options">
                <div class="options">
                    <h3 class="title">Serial Port:</h3>
                    <select id="port-options">
                        {% for port in ports %}
                            <option value="{{ port }}">{{ port }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="options">
                    <h3 class="title">Baud Rate:</h3>
                    <select id="baud-rate-options">
                        <option value="9600">9600</option>
                        <option value="115200">115200</option>
                    </select>
                </div>
                <button id="arduino-connect-button">Connect</button>
            </div>
            <h3 class="connection-status">Not Connected!</h3>
        </div>

        <div class="auv-controls">
            <button class="control-button" value="u">UP</button>
            <button class="control-button" value="d">DOWN</button>
            <button class="control-button" value="l">LEFT</button>
            <button class="control-button" value="r">RIGHT</button>
            <button class="control-button" value="f">FROWARD</button>
            <button class="control-button" value="b">BACKWARD</button>
        </div>
    </body>
</html>
